.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal {
  width: 95%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  font-weight: 400;
  font-size: 21px;
  line-height: calc(28 / 24);
  color: #666666;
}

.title {
  margin-bottom: 37px;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: calc(56 / 48);
  color: #000000;
}

.row {
  margin-bottom: 26px;
  display: flex;
  align-items: center;
}

.row:last-of-type {
  margin-bottom: 36px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.recoverIcon {
  width: 22.5px;
  height: 30px;
  margin-right: 18.5px;
}

.text {
  margin-right: auto;
}

.btn {
  margin: 0 auto;
  display: block;
  min-width: 171px;
  padding: 11px 20px;
  background: #2196f3;
  border-radius: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #ffffff;
}


@media screen and (min-width: 768px) {
  .modal {
    width: 600px;
    width: none;
    padding: 20px;
    font-size: 24px;
  }
  
  .title {
    margin-bottom: 37px;
    font-size: 48px;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 29px;
  }
  
  .row {
    margin-bottom: 46px;
  }

  .recoverIcon {
    width: 22.5px;
    height: 30px;
    margin-right: 32.5px;
  }
}