html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 767px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 22px;
  }
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1499px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    margin: 0 auto;
    max-width: 1920px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  color: inherit;
  font-size: inherit;
  background-color: transparent;
}
input {
  border: none;
  outline: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
